


<!DOCTYPE html>

   
    <body>
        <!-- Responsive navbar-->
              <!-- Header-->
        <header >
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            <div align="center">
                                <h1><span><b>EVENT MANAGEMENT</b></span></h1>
                                <img src="assets/event.png">
                          
                            <p class="lead text-white-50 mb-4"></p>
                        </div>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                                <a class="btn btn-primary btn-lg px-4 me-sm-3" routerLink="/register">register</a>
                              
                                <a class="btn btn-outline-light btn-lg px-4" routerLink="/login">Login</a>
                            

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>


