<section class="vh-100">
  <div class="container py-5 h-100">
     
          <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
              <!-- Email input -->
              <div *ngIf="error">
                  <p style="color: red;">invalid</p>
              </div>
              <form #r="ngForm" (ngSubmit)="Read(r)">
                  <div class="form-outline mb-4">
                      <label for="username" class="form-label">Email:</label>
                      <input type="email" name="email" id="username" class="form-control" [(ngModel)]="user.mail">
                      <!-- Password input -->
                      <div class="form-outline mb-4">
                          <label for="password" class="form-label">password:</label>
                          <input type="password" name="password" id="password" class="form-control"
                              [(ngModel)]="user.password">
                      </div>

                      <div class="d-flex justify-content-around align-items-center mb-4">
                          <!-- Checkbox -->
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
                              <label class="form-check-label" for="form1Example3"> Remember me </label>
                          </div>
                          <a href="#!">Forgot password?</a>
                      </div>

                      <!-- Submit button -->
                      <!-- <a routerLink="/main"><input type="submit" [value]="'login'" class="btn"
                              (click)="Read(name)"></a> -->

                      <!-- <p *ngIf="Results.length!=0 && GotResult"></p> -->
                      <input type="submit" value="submit">
                  </div>
              </form>
              
              