<nav>
    <div class="logo">EVENT MANAGEMENT</div>
    <input type="checkbox" id="click">
    <label for="click" class="menu-btn">
      <i class="fas fa-bars"></i>
    </label>
    <ul>
      <li><a class="active" href="#">Home</a></li>
      <li><a routerLink="/form">Form</a></li>
      <li><a href="">About</a></li>
      <li><a href="">Gallery</a></li>
      <li><a routerLink="/buttons">Form read</a></li>
  
  
    </ul>
  </nav>
  

















<body>
<div class="container">
<a href="formget"><button class="exam">ALL</button></a>
<a href="orgby"><button class="exam">orgby</button></a>
<a href="programtheme"><button class="exam">PROGRAM THEME</button></a>
<a href="programtype"><button class="exam">PROGRAM TYPE</button></a>
<a href="startdate"><button class="exam">START DATE</button></a>
<a href="mode"><button class="exam">MODE OF EVENT</button></a>

</div>
</body>
